# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log

# Local configuration
*.local
*.pylintrc

# Python-local config and secrets
*.env
*.secret
secrets.json

# Ignore application specific
*.db
*.sqlite3

# Ignore wheel files
*.whl

# ignore backup files
*~
*.bak
*.swp
*.tmp

